* {
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

#mode { /* TODO outer layer (or copy #window) */
    margin: 4px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

#status-group, .modules-center, .modules-left { /* outer layers */
    margin: 2px 10px;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}
#button,
#button:hover,
#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#language,
#mpd { /* buttons */
    margin: 4px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#window { /* sway window */
    background-color: transparent;
}

/* WORKSPACES */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button.focused {
    color: white;
}

#workspaces button:hover {
    color: white;
    background-color: inherit;
}

/* LEFT UNUSED
.modules-right {
    
}
*/
