* {
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    margin: 2px 10px;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

window#waybar.empty #mode,
window#waybar.empty .modules-center {
    background-color: transparent;
}

#mode {
    margin: 4px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(229, 198, 168, 1);
}

#status-group, .modules-center, .modules-left { /* outer layers */
    margin: 2px 4px;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
#button,
#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#language,
#mpd { /* buttons */
    margin: 4px;
    padding: 0 12px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(229, 198, 168, 1);
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#window { /* sway window */
    background-color: transparent;
}

/* WORKSPACES */
/* .modules-left > widget:first-child > #workspaces { */
    /* margin-left: 0; */
/* } */

/* .modules-right > widget:last-child > #workspaces { */
    /* margin-right: 0; */
/* } */


#workspaces button.focused, button.active {
    color: rgba(229, 198, 168, 1);
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}
